* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-family: 'gothamRoundedMedium';
}

@font-face {
  font-family: 'gothamRoundedMedium';
  src: url(fonts/gotham-rounded-medium.otf);
}

.whatsNew {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.whatsNew_title {
  font-size: 20px;
  color: #10069f;
  font-weight: 200;
  line-height: 1;
}

.whatsNew_gallery {
  padding: 0.5rem 0 1rem 1rem;
  gap: 30px;
}

.card {
  max-width: 240px;
  height: 100%;
  border: none;
  border-radius: 0;
}

.card > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #fff;
}

.card-img {
  border-radius: 0;
}

.card-img-overlay {
  padding: 20px;
  background-color: rgba(0,0,0,.7);
  transition: all .5s ease;
  opacity: 0;
  border-radius: 0;
}

.card-img-overlay:hover {
  opacity: 1;
}


.card-title {
  font-size: 18px;
  font-weight: normal;
}

.card-text {
  font-size: 12px;
  margin: 15px 0;
}

.whatsNew_seeMore {
  text-align: right;
  font-size: 12px;
  font-weight: 200;
}

.whatsNew_seeMore > a {
  text-decoration: none;
  color: #154287;
}

.whatsNew_seeMore > a:hover {
  color: #41AEE3;
}